.container {
  background-color: #202124;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.footer-items-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px 35px;
}

.footer-item {
  color: aliceblue;
  margin: 10px ;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item > a {
  text-decoration: none;
  color: aliceblue;
}

.madeWith{
  margin: 0px 2px;
}

.footer-icon-pokeapi{
  height: 25px;
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

@media (max-width: 1190px) {
}

@media (max-width: 950px) {
}

@media (max-width: 795px) {
}

@media (max-width: 680px) {
  .footer-item {
    margin: 10px;
    font-size: 9px;
  }
}

@media (max-width: 570px) {
}
