<div class="container">
  <div class="footer-items-container">
    <div class="footer-item">
      <p>Developed by Ignacio Garcia Reyna</p>
      <a class="footer-link" href="https://www.linkedin.com/in/ignaciogarciareyna/" target="_blank">
        <img
          class="footer-icon"
          src="assets/img/linkedin-icon-white.png"
        />
      </a>
      <a class="footer-link" href="https://github.com/IgnacioGarciaReyna" target="_blank">
        <img
          class="footer-icon"
          src="assets/img/github-icon-white.png"
        />
      </a>
    </div>
    <div class="footer-item">
      <a class="footer-link" href="https://pokeapi.co/">
        <p class="madeWith">Made with:</p>
        <img
        class="footer-icon-pokeapi madeWith"
        src="assets/img/pokeapi_logo.png"
      /></a>
    </div>
    <div class="footer-item">
      <p>©2022 Pokémon. ©1995 - 2022</p>
    </div>
  </div>
</div>
