.container {
  height: auto;
  margin-top: 90px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
}

.card {
  border: 1px solid black;
  border-radius: 10%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  filter: grayscale(30%);
}

.card-img {
  height: 130px;
  width: 130px;
}

.card-info {
  width: 80%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-typesContainer {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-name {
  text-transform: capitalize;
  font-size: 30px;
}

.pagination-container {
  width: 80vw;
  border: solid 1px black;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.card:hover .card-img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.card {
  overflow: hidden;
}

.card:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.pagination-button {
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background: aliceblue;
  color: #202124;
}

.pagination-button:hover {
  background: #202124;
  color: aliceblue;
  cursor: pointer;
}

@media (max-width: 1190px) {
  .cards-container {
    grid-template-columns: 25vw 25vw 25vw;
  }
}

@media (max-width: 950px) {
  .cards-container {
    grid-template-columns: 30vw 30vw;
  }
}

@media (max-width: 795px) {
  .cards-container {
    grid-template-columns: 35vw 35vw;
  }
}

@media (max-width: 680px) {
  .cards-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 570px) {
  .cards-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 65px;
  }

  .card-name {
    font-size: 18px;
  }

  .card-img {
    height: 100px;
    width: 100px;
  }

  .card-typesContainer {
    width: 80%;
    margin: 5px;
  }

  .card {
    margin: 10px;
  }

  .pagination-button{
    position: absolute;
    bottom: -180px;
  }

  .next{
    right: 15px;
  }

  .previous{
    left: 15px;
  }
}
