.container {
  height: 78vh;
  margin-top: 90px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: 80vw;
  height: auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
}

.card {
  border: 1px solid black;
  border-radius: 10%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  filter: grayscale(30%);
}

.card-img {
  height: 130px;
  width: 130px;
}

.card-info {
  width: 80%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-typesContainer {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-name {
  text-transform: capitalize;
  font-size: 30px;
}

.pagination-container {
  width: 80vw;
  border: solid 1px black;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.pagination-button {
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background:  aliceblue;
  color: #202124;
}

.card:hover .card-img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.card {
  overflow: hidden;
}

.card:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.pagination-button:hover {
  background: #202124;
  color: aliceblue;
  cursor: pointer;
}

.search-container {
  position: absolute;
  top: 140px;
  left: 270px;
}

#searchPokemons{
  height: 30px;
  width: 200px;
}