<div class="container fadeIn">
  <div class="header-container">
    <div class="logo-container fadeIn">
      <img
        class="logo-img"
        src="assets/img/pokemon-logo.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="header fadeIn">
      <div class="a-navigation-container">
        <a class="a-navigation" routerLink="home">Home</a>
      </div>
      <div class="a-navigation-container">
        <a class="a-navigation" routerLink="pokemons">Pokemons</a>
      </div>
      <div class="a-navigation-container">
        <a class="a-navigation" routerLink="about">About</a>
      </div>
    </div>
    <div class="search-container">
      <!-- <input
        type="search"
        [formControl]="searchPokemonInput"
        placeholder="Search by name"
      />
      <select name="" id="">
        <option [value]="name" *ngFor="let name of namesList">
          {{ name }}
        </option>
      </select> -->
      <input
        [formControl]="searchPokemonInput"
        class="form-control"
        list="namesListOptions"
        id="searchPokemons"
        placeholder="Buscá un pokemon..."
        type="search"
      />
      <datalist id="namesListOptions">
        <option [value]="name | titlecase" *ngFor="let name of namesList">
          {{ name | titlecase }}
        </option>
      </datalist>
    </div>
  </div>
</div>
