<div class="container">
  <div class="header-container">
    <div class="logo-container">
        <img class="logo-img" src="./../../../assets/img/pokemon-logo.png" alt="" srcset="">
    </div>
    <div class="search-container">
      <!-- <input
        type="search"
        [formControl]="searchPokemonInput"
        placeholder="Search by name"
      />
      <select name="" id="">
        <option [value]="name" *ngFor="let name of namesList">
          {{ name }}
        </option>
      </select> -->
      <input
        [formControl]="searchPokemonInput"
        class="form-control"
        list="namesListOptions"
        id="searchPokemons"
        placeholder="Buscá un pokemon..."
        type="search"
      />
      <datalist id="namesListOptions">
        <option [value]="name" *ngFor="let name of namesList">
          {{ name }}
        </option>
      </datalist>
    </div>
    <div class="header">
      <a class="a-navigation" routerLink="home">Home</a>
      <a class="a-navigation" routerLink="pokemons">Pokemons</a>
      <a class="a-navigation" routerLink="about">About</a>
    </div>
  </div>
</div>
