<div class="container fadeIn">
  <div class="about-section">
    <h3>¿What is this site?</h3>
    <p>
      This page was developed for personal practice. It is my first project, 
      it is based on the info provided by the PokeAPI because 
      the pokemons are a lot and they have a lot off characteristics to play.
    </p>
  </div>

  <div class="about-section">
    <h3>What is the PokeAPI?</h3>
    <p>
      The PokeAPI website provides a RESTful API interface to highly detailed objects
      built from thousands of lines of data related to Pokémon. They specifically
      cover the video game franchise. Using this website, you can consume
      information on Pokémon, their moves, abilities, types, egg groups and
      much, much more.
    </p>
  </div>

  <div class="about-section">
    <h3>What is an API?</h3>
    <p>
      An API (Application Programming Interface) is a contract that allow
      developers to interact with an application through a set of interfaces. In
      this case, the application is a database of thousands of Pokémon-related
      objects, and the interfaces are URL links. A RESTful API is an API that
      conforms to a set of loose conventions based on HTTP verbs, errors, and
      hyperlinks.
    </p>
    <br />
  </div>
</div>
