<div class="container fadeIn">
    <div class="about-section">
      <h3>¿Qué es este sitio?</h3>
      <p>
        Esta página fue desarrollado para práctica personal. Es el primer proyecto que desarrollo en Angular 
        completamente solo y es una forma de practicar todo lo que aprendí.
        Esta aplicación está basada en la PokeAPI. Los pokemones son muchos y tienen muchas caracteristicas. 
        
      </p>
    </div>

    <div class="about-section">
      <h3>¿Qué es la PokeAPI?</h3>
      <p>
        Este sitio web proporciona una interfaz API RESTful para objetos muy
        detallados creados a partir de miles de líneas de datos relacionados con
        Pokémon. Cubrimos específicamente la franquicia de videojuegos. Usando
        este sitio web, puedes consumir información sobre Pokémon, sus
        movimientos, habilidades, tipos, grupos de huevos y mucho, mucho más.
      </p>
    </div>

    <div class="about-section">
      <h3>¿Qué es una API?</h3>
      <p>
        Una API (interfaz de programación de aplicaciones) es un contrato que
        permite a los desarrolladores interactuar con una aplicación a través de
        un conjunto de interfaces. En este caso, la aplicación es una base de
        datos de miles de objetos relacionados con Pokémon y las interfaces son
        enlaces URL. Una API RESTful es una API que se ajusta a un conjunto de
        convenciones flexibles basadas en verbos, errores e hipervínculos HTTP.
      </p>
      <br />
    </div>
</div>
