.container {
  height: auto;
  margin-top: 90px;
  width: auto;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: auto auto;
}

.column {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pokemon-number {
  font-size: 40px;
  margin: 10px;
}

.pokemon-name {
  font-size: 50px;
  margin: 5px;
}

.evolutions-container {
  display: flex;
}

.evolutions {
  margin: 10px;
}

.stats {
  border: 1px black solid;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 10px;
}

.stats-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  height: auto;
  width: auto;
}

.stat-column {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.stat-name{
  font-size: 12px;
}

.slot-container {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.empty-slot{
  background-color: rgb(206, 228, 228);
  border: 1px solid #f0f8ff;
  height: 10px;
  width: 80px;
}

.full-slot {
  background-color: rgb(11, 212, 212);
  border: 1px solid #f0f8ff;
}

.pictures {
  display: flex;
  height: 150px;
  width: 150px;
}

.img-pokemon {
  height: 300px;
  width: 300px;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 2%;
  height: auto;
  width: auto;
  margin: 5px;
}

.pokemon-info {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abilities{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.abilities > ul > li{
  list-style: none;
}

.pokemon-info > p {
  margin-left: 10px;
}

.loadingSpinner{
  height: 75vh;
  margin-top: 90px;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isMythical{
  background-color: rgb(186, 134, 235);
}

.isBaby{
  background-color: rgb(255, 255, 188);
}

.evolutions{
  border: 1px black solid;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.evolutions-container{
  
  display: flex;
  flex-direction: row;
}

.evolution{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 5%;
  margin: 10px;
}

.evolution:hover{
  cursor: pointer;
}

.name-evolution-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pagination-button {
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background: aliceblue;
  color: #202124;
}

.pagination-button:hover {
  background: #202124;
  color: aliceblue;
  cursor: pointer;
}



@media (max-width: 1190px) {
  
}

@media (max-width: 950px) {
  .container {
    grid-template-columns: auto;
  }
}

@media (max-width: 795px) {
  
}

@media (max-width: 680px) {
  .stats {
    height: 350px;
  }
  
  .stats-container {
    margin: 8px;
  }
  
  .stat-column {
    margin: 8px;
  }
  
  .stat-name{
    font-size: 11px;
  }
  
  .empty-slot {
    height: 10px;
    width: 60px;
  }
  
}

@media (max-width: 570px) {
  .stats {
    height: auto;
  }

  .stat-name{
    font-size: 9px;
  }
  
  .empty-slot {
    height: 7px;
    width: 18px;
  }

  .stats-container {
    margin: 8px;
    flex-direction: column;
  }
  
  .stat-column {
    flex-direction: column;
  }

  .slot-container{
    flex-direction: row;
  }
  
}
