.container {
  height: auto;
  margin-top: 90px;
  width: auto;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.column {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  height: 100%;
}

.pagination-button {
  margin: 10px;
}

.name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 360px;
}

.pokemon-number {
  font-size: 40px;
  margin: 10px;
}

.pokemon-name {
  font-size: 50px;
  margin: 5px;
}

.evolutions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.evolutions {
  margin: 10px;
}



.img-evolution {
  height: 96px;
  width: 96px;
  margin: 0px 3px;
}

.stats {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: auto;
  margin: 10px;
}

.stats-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  height: auto;
  width: auto;
}

.stat-column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 85px;
}

.stat-name {
  font-size: 12px;
}

.slot-container {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.empty-slot {
  background-color: rgb(206, 228, 228);
  border: 1px solid #f0f8ff;
  height: 10px;
  width: 60px;
}

.full-slot {
  background-color: rgb(11, 212, 212);
  border: 1px solid #f0f8ff;
}

.img-pokemon {
  height: 300px;
  width: 300px;
  margin: 50px 0px;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 2%;
  height: auto;
  width: auto;
  margin: 15px;
}

.pokemon-info {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abilities {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.abilities > ul > li {
  list-style: none;
}

.pokemon-info > p {
  margin-left: 10px;
}

.isMythical {
  background-color: rgb(186, 134, 235);
}

.isBaby {
  background-color: rgb(255, 255, 188);
}

.evolutions {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

.evolutions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.evolution {
  display: flex;
  flex-direction: column;
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 5%;
  margin: 10px;
}

.evolution:hover {
  cursor: pointer;
}

.name-evolution-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pEvolution {
  font-size: 12px;
}

.name-evolution-container > p {
  font-weight: bold;
}

.pagination-button {
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background: aliceblue;
  color: #202124;
}

.pagination-button:hover {
  background: #202124;
  color: aliceblue;
  cursor: pointer;
}

@media (max-height: 680px) {
  .container {
    margin-bottom: 80px;
  }
}

@media (max-width: 1190px) {
  .container {
    grid-template-columns: auto;
    margin-bottom: 90px;
  }

  .name-container{
    margin-top: 30px;
  }

  .pagination-button {
    position: fixed;
    top: 85px;
    margin: 5px;
  }

  .evolutions {
    margin-bottom: 0px;
  }
}

@media (max-width: 950px) {
}

@media (max-width: 795px) {
}

@media (max-width: 680px) {
  .stats {
    height: 350px;
  }

  .stats-container {
    margin: 8px;
  }

  .stat-column {
    margin: 8px;
  }

  .stat-name {
    font-size: 11px;
  }

  .empty-slot {
    height: 10px;
    width: 60px;
  }
}

@media (max-width: 570px) {
  .stats {
    height: auto;
    width: 100%;
  }

  .stat-name {
    font-size: 9px;
  }

  .empty-slot {
    height: 7px;
    width: 18px;
  }

  .stats-container {
    margin: 8px;
    flex-direction: column;
  }

  .stat-column {
    flex-direction: column;
  }

  .slot-container {
    flex-direction: row;
  }
}
