<div class="loadingSpinner fadeIn" *ngIf="loadingSpinner">
  <h1>Loading...</h1>
</div>
<div
  class="container fadeIn"
  *ngIf="!loadingSpinner"
  [style.background]="getPokedexColor(pokemonSpecies?.color.name)?.primaryColor"
  [style.align-items]="pokemonVarieties.length > 4 ? 'baseline' : 'center'"
>
  <div class="button-container">
    <button class="pagination-button" (click)="goBack()">Back</button>
  </div>
  <div class="column fadeIn" *ngIf="!loadingSpinner">
    <div class="name-container">
      <p class="pokemon-number">#{{ pokemon?.id }}</p>
      <h1
        class="pokemon-name"
      >
        {{ pokemon?.name | titlecase }}
      </h1>
    </div>

    <div class="picture-column fadeIn">
      <!-- <img
          class="img-pokemon"
          [src]="pokemon?.sprites?.other?.['official-artwork']?.front_default"
          alt=""
          srcset=""
        /> -->
      <!-- <img
          class="img-pokemon"
          [src]="pokemon?.sprites?.other?.home?.front_default"
          alt=""
          srcset=""
        /> -->
      <img
        *ngIf="pokemon?.sprites?.other?.dream_world?.front_default != null"
        class="img-pokemon fadeIn"
        [src]="pokemon?.sprites?.other?.dream_world?.front_default"
        alt=""
        srcset=""
      />
      <img
        *ngIf="pokemon?.sprites?.other?.dream_world?.front_default == null"
        class="img-pokemon"
        [src]="pokemon?.sprites?.other?.['official-artwork']?.front_default"
        alt=""
        srcset=""
      />
    </div>
  </div>

  <div class="column fadeIn">
    <div
      class="pokemon-info-container"
      [style.background]="
        getPokedexColor(pokemonSpecies?.color.name)?.secondaryColor
      "
    >
      <div class="types pokemon-info">
        <h4>Types:</h4>
        <div class="type" *ngFor="let type of pokemon?.types">
          <div
            class="pill-card-type"
            [style.background]="getColorTypesPokemon(type.type.name)"
          >
            <p class="card-type">{{ type.type.name }}</p>
          </div>
        </div>
      </div>
      <div class="egg-groups pokemon-info">
        <h4>Egg Groups:</h4>
        <div class="type" *ngFor="let group of pokemonSpecies?.egg_groups">
          <div
            class="pill-card-type"
            [style.background]="getColorEggsPokemon(group?.name)"
          >
            <p class="card-type">
              {{ group?.name | titlecase }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="otros-container pokemon-info"
        *ngIf="
          pokemonSpecies?.is_baby ||
          pokemonSpecies?.is_legendary ||
          pokemonSpecies.is_mythical
        "
      >
        <h4>Others:</h4>
        <div class="isBaby pill-card-type" *ngIf="pokemonSpecies?.is_baby">
          <p class="card-type">Baby</p>
        </div>
        <div
          class="isLegendary pill-card-type"
          *ngIf="pokemonSpecies?.is_legendary"
        >
          <p class="card-type">Legendary</p>
        </div>
        <div
          class="isMythical pill-card-type"
          *ngIf="this.pokemonSpecies.is_mythical"
        >
          <p class="card-type">Mythical</p>
        </div>
      </div>
      <div class="habitat pokemon-info">
        <h4>Habitat:</h4>
        <p>{{ pokemonSpecies?.habitat?.name | titlecase }}</p>
        <p *ngIf="pokemonSpecies.habitat == null">Unknown</p>
      </div>
      <div class="generation pokemon-info">
        <h4>Generation:</h4>
        <p>{{ pokemonSpecies?.generation.name | titlecase }}</p>
      </div>
      <div class="growth-rate pokemon-info">
        <h4>Growth rate:</h4>
        <p>{{ pokemonSpecies?.growth_rate.name | titlecase }}</p>
      </div>
      <div class="hasDenderDifferences pokemon-info">
        <h4>Gender diferences:</h4>
        <p>{{ hasGenderDifferences }}</p>
      </div>
      <div class="abilities">
        <h4>Abilities:</h4>
        <ul>
          <li *ngFor="let ability of pokemon?.abilities">
            {{ ability.ability.name | titlecase }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="evolutions"
      *ngIf="pokemonVarieties.length > 1"
      [style.background]="
        getPokedexColor(pokemonSpecies?.color.name)?.secondaryColor
      "
    >
      <h4>Versions:</h4>
      <div class="evolutions-container">
        <div
          class="fadeIn"
          *ngFor="let variety of pokemonVarieties"
          (click)="goToBio(variety.name)"
        >
          <div class="evolution" *ngIf="variety?.name != pokemon?.name">
            <div class="name-evolution-container">
              <p class="name-evolution pEvolution">
                {{ variety.name | titlecase }}
              </p>
              <p class="id-evolution pEvolution">#{{ variety.id }}</p>
            </div>
            <img
              class="img-evolution"
              [src]="variety?.sprites?.front_default"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div
      class="stats fadeIn"
      *ngIf="!loadingSpinner"
      [style.background]="
        getPokedexColor(pokemonSpecies?.color.name)?.secondaryColor
      "
    >
      <h3>Stats:</h3>
      <div class="stats-container">
        <div class="stat-column" *ngFor="let stats of pokemon?.stats">
          <p class="stat-name">{{ stats?.stat?.name | titlecase }}</p>

          <ul class="slot-container">
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 15
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 30
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 45
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 60
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 75
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 90
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 105
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 120
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 135
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 150
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 165
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 180
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 195
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 210
              }"
            ></li>
            <li
              class="empty-slot slot"
              [ngClass]="{
                'full-slot slot':
                  stats?.base_stat !== undefined && stats.base_stat > 225
              }"
            ></li>
          </ul>
          <p>{{ stats?.base_stat }}</p>
        </div>
      </div>
    </div>
    <div
      class="evolutions endOffScroll"
      *ngIf="evolutionsPokemons.length > 1"
      [style.background]="
        getPokedexColor(pokemonSpecies?.color.name)?.secondaryColor
      "
    >
      <h4>Evolution:</h4>
      <div class="evolutions-container">
        <div
          class="evolution fadeIn"
          *ngFor="let evolution of evolutionsPokemons"
          (click)="goToBio(evolution.name)"
        >
          <div class="name-evolution-container">
            <p class="name-evolution">{{ evolution.name | titlecase }}</p>
            <p class="id-evolution">#{{ evolution.id }}</p>
          </div>
          <img
            class="img-evolution"
            [src]="evolution?.sprites?.front_default"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
