.container {
  height: 75vh;
  margin-top: 90px;
  width: 100vw;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: auto auto auto;
}

.column {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pokemon-number {
  font-size: 40px;
  margin: 10px;
}

.pokemon-name {
  font-size: 50px;
  margin: 5px;
}

.evolutions-container {
  display: flex;
}

.evolutions {
  margin: 10px;
}

.stats {
  border: 1px black solid;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.stats-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  height: auto;
  width: auto;
}

.stat-column {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.stat-name{
  font-size: 12px;
}

.slot-container {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.empty-slot {
  background-color: rgb(206, 228, 228);
  border: 1px solid #f0f8ff;
  height: 10px;
  width: 80px;
}

.full-slot {
  background-color: rgb(11, 212, 212);
  border: 1px solid #f0f8ff;
  height: 10px;
  width: 80px;
}

.pictures {
  display: flex;
  height: 150px;
  width: 150px;
}

.img-pokemon {
  height: 150px;
  width: 150px;
}

.picture-column img:last-child {
  display: none;
}

.picture-column:hover img:last-child {
  display: block;
}

.picture-column:hover img:first-child {
  display: none;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 2%;
  height: auto;
  width: auto;
}

.pokemon-info-container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 2%;
  height: auto;
  width: 100%;
  margin: 10px;
}

.pokemon-info {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
