.container{
    background-image: url(./../../../assets/img/wallpapersden.com_ghost-pokemon_wxl.jpg);
    background-size: cover;
    background-position: right;
    height: 78vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 90px;
}

.tittle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.mini-tittle-container {
    display: flex;
    
    width: 50%;
    color: aliceblue;
}

.welcome-tittle{
    font-size: 60px;
}

#tittle-end {
    align-items: flex-end;
    height: 40%;
}

#tittle-center {
    height: 50%;
    align-items: flex-start;
}

