<div class="container fadeIn">
  <div class="tittle-container">
    <div id="tittle-end" class="mini-tittle-container">
      <h1 class="welcome-tittle">Bienvenido a la POKEDEX</h1>
    </div>
    <div id="tittle-center" class="mini-tittle-container">
      <p class="welcome-subtittle">
        Esta es una aplicación basada en la PokeAPI para fines de práctica
        personal. Los pokemones son muchos y son divertidos. La PokeAPI es
        genial. Aquí podrás explorar un poco mas acerca de los pokemons, sus
        tipos, sus habilidades, sus estadisticas.
      </p>
    </div>
  </div>
</div>
