<div class="container fadeIn">
    <div class="tittle-container">
        <div id="tittle-end" class="mini-tittle-container">
            <h1 class="welcome-tittle">Bienvenido <br> a la Pokedex</h1>
        </div>
        <div id="tittle-center" class="mini-tittle-container">
            <p class="welcome-subtittle">Esta es una aplicación basada en la PokeAPI para fines de práctica personal. Los pokemones son muchos y son divertidos. La PokeAPI es genial. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima in dolorum repellat dolor, nemo veritatis libero qui doloremque molestiae. Dolorem illum nam tenetur facilis inventore excepturi quidem earum molestiae.</p>
        </div>
    </div>
</div>
