/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: #202124;
}

.container {
    width: 100vw;
}

.fadeIn{
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.card-type {
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    margin: 5px;
  }
  
  .pill-card-type{
    border-radius: 5px;
  }