/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #F0F8FF;
    width: 100vw;
}

.container{
    width: 100%;
}

.fadeIn{
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.card-type {
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    margin: 5px;
    width: auto;
  }
  
  .pill-card-type{
    border-radius: 5px;
    width: auto;
  }

  .loadingSpinner{
    margin-top: 90px;
    height: 75vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }